@page
@using praktykanciAplikacja.Models

<h2>Dodawanie nowych praktykantów</h2>

@(
Html.DevExtreme().DataGrid<Apprentices>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("id"))
    .Columns(columns => {
        columns.AddFor(m => m.id);
        columns.AddFor(m => m.firstName);
        columns.AddFor(m => m.lastName);
        columns.AddFor(m => m.desiredPosition);
        columns.AddFor(m => m.dateSubmitted);
        columns.AddFor(m => m.addres.getAddres());
        columns.AddFor(m => m.dateOfBirth);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
        .TotalItems(totalItems => {
            totalItems.AddFor(m => m.id).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems => {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
)