@page
@using praktykanciAplikacja.Models

<h2>Dodawanie nowych praktykantów</h2>

@(
Html.DevExtreme().DataGrid<Apprentices>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("id"))
    .Columns(columns => {
        columns.AddFor(m => m.id).Caption("Lp.");
        columns.AddFor(m => m.firstName).Caption("Imie");
        columns.AddFor(m => m.lastName).Caption("Nazwisko");
        columns.AddFor(m => m.desiredPosition).Caption("Stanowisko");
        columns.AddFor(m => m.dateSubmitted).Caption("Data zg³oszenia");
        columns.AddFor(m => m.addres).Caption("Miejsce zamieszkania");
        columns.AddFor(m => m.dateOfBirth).Caption("Data urodzenia");
    })
    .Paging(p => p.PageSize(6))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
        .TotalItems(totalItems => {
            totalItems.AddFor(m => m.id).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems => {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
)